<div style="display: flex; ">
<div style="width:60%">
  <div class="example-button-row">
    <button mat-raised-button (click)="onClear()" style="margin-top: 20px;">Clear Selected</button>
</div>
<ag-grid-angular
    style="width: 100%; height: 750px;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowSelection]="'multiple'"
    [animateRows]="true"
    (cellClicked)="onCellClicked($event)"
    [gridOptions]="gridOptions">
</ag-grid-angular>
</div>
<div style="margin-left: 50px;" >
<br>
<div class="display-box" [class.visible]="isTrue">
  <h1><i class="fas fa-user"></i> {{name}} </h1>
  <h1><i class="fas fa-birthday-cake"></i>    {{age}}</h1>
  <h1><i class="fas fa-envelope"></i>    {{email}}</h1>
  <h1><i class="fas fa-map-marker-alt"></i>  {{location}}</h1>
</div>
</div>
</div>
